---
layout: layouts/base.njk
title: Pagină Indisponibilă
lang: ro
permalink: /ro/not-available/
---

<h1>Pagina Indisponibilă în Română</h1>

<p>Ne pare rău, această pagină nu este încă disponibilă în română.</p>

<p>Puteți:</p>
<ul>
	<li><a href="/ro/">Mergeți la pagina principală în română</a></li>
	<li>Încercați altă limbă: <a href="/en/">Engleză</a> | <a href="/se/">Suedeză</a></li>
</ul>
